<!DOCTYPE html>
<html>
<head>
  <title> To Do - Backlog </title>
  <link href="/static/css/todo.css" rel="stylesheet">
</head>
<body>

<nav>
  <h2>
    <a href="http://localhost:8080/"> Home </a>
  </h2>
  <h2>
    <a href="http://localhost:8080/kanban">&lt;ProjectName&gt;</a>
  </h2>  
</nav>

<section class="border-silver">
  <h1>Backlog</h1>
  <table>
    <th>
      <td>Task ID</td>
      <td>Title</td>
      <td>Description</td>
      <td>Urgency</td>
      <td>Importance</td>
      <td>Status</td>
    </th>
    <tr>
      <td></td>
      <td>1</td>
      <td>Title</td>
      <td>Description</td>
      <td>Urgency</td>
      <td>Importance</td>
      <td>Status</td>
    </tr>
  </table>
</section>


</body>
</html>