<!DOCTYPE html>
<html>
<head>
  <title> To Do </title>
  <link href="/static/css/todo.css" rel="stylesheet">
  <!-- <script src="/static/js/getBackgroundURL.js"></script> -->
</head>
<body>

<nav>
  <h2>
    <a href="http://localhost:8080/kanban">Kanban Board</a>
  </h2>
  <h2>
    <a href="http://localhost:8080/backlog">Backlog</a>
  </h2>  
</nav>

<div class="hero slide-up">
  <h1 class="welcome">Welcome back, {data.user}!</h1>
</div>

<!-- action = URL going to  -->
<!-- GET carries request parameter appended in URL string -->
<!-- <form method="GET" action="backlog"> 
  <input type="text" value="0" name="length" />
  <button type="submit">Give it now!</button>
</form> -->

<!--  POST carries request parameter in message body which makes it more secure way of transferring data from client to server -->
<!-- <form method="POST" action="generate"> 
  <input type="text" value="0" name="length" />
  <button type="submit">Give it now!</button>
</form> -->



</body>
</html>