<!DOCTYPE html>
<html>
<head>
  <title> To Do - Kanban </title>
  <link href="/static/css/todo.css" rel="stylesheet"> 
</head>
<body>
  <!-- ************************************************ -->

<nav>
  <h2>
    <a href="http://localhost:8080/"> Home </a>
  </h2>
  <h2>
    <a href="http://localhost:8080/backlog">Backlog</a>
  </h2> 
  <h2>
    <a href="http://localhost:8080/kanban">&lt;ProjectName&gt;</a>
  </h2>  
</nav>
  <!-- ************************************************ -->


  <!-- ************************************************ -->
  <!-- Modal  -->
  <div id="hide_it">
  <div class="modal-wrapper">
  <!-- ************************************************ -->
    <div class="modal metallic_silver">
      <div class="header">
        <h2>Create New Task</h2>
        <button class="close-btn hover_shadow">
          <img id="close-btn-icon" src="../static/imgs/cancel.png">
        </button>
      </div>
  <!-- ************************************************ -->   
      <form id="submit_form" method="post" action="/add_task" > 
        <input type="hidden" id="identifier" name="identifier" value="">
        <label for="title">Title:</label>
        <input id = "title" type="text" name="title" placeholder="Enter title" required>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="8" cols="40" required></textarea>
        <!-- <input id = "description" type="text" name="description" placeholder="Enter a description" required> -->
        
        <label for="urgency">Urgency:</label>
          <select name="urgency" id="urgency" required>
            <option value="Urgent">Urgent</option>
            <option value="Not Urgent" selected>Not Urgent</option>
          </select>

        <label for="importance">Importance:</label>
          <select name="importance" id="importance" required>
            <option value="Important">Important</option>
            <option value="Not Important" selected>Not Important</option>
          </select>

        <label for="status">Status:</label>
          <select name="status" id="status" required>
            <option value="Backlog" selected>Backlog</option>
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
      <div class="button_container">
      <button id="submit_new_task" type="submit" class="submit hover_shadow">Add New Task</button>
      <button id="delete-task-btn" type="del_button" class="delete hover_shadow">Delete</button>
      </div>

      </form>
  <!-- ************************************************ -->
      
      
  <!-- ************************************************ -->
    </div>
  </div>
  </div>

<section  class=''>
  <div id="message"></div>
  <div id = 'kanban'>
  <!-- ************************************************ -->

  <div class='col-container'>
    <div class=' center container_header todos'>
      <h3 class="buddies">
        <img class="icon" src="../static/imgs/todo.png"><p>To Do</p>
      </h3>
      <button id="open-modal-btn"> + </button>
    </div>
    <ul id='todo-list' class=' dropbox todos'>
  </div>
  <!-- ************************************************ -->
  
  <div class='col-container '>
    <div class=' center container_header in_progs'>
      <h3 class="buddies">
        <img class="icon" src="../static/imgs/loading.png"><p>In Progress</p>
      </h3>
    </div>
    <ul id='in_prog-list' class=' dropbox in_progs'></ul>
  </div>
  <!-- ************************************************ -->
  <div class='col-container'>
    <div class=' center container_header dones'>
      <h3 class="buddies">
        <img class="icon" src="../static/imgs/done.png"><p>Completed</p>
      </h3>
    </div>
    <ul id='done-list' class=' dropbox dones'>
  </div>
  <!-- ************************************************ -->

  </div>
</section>
<!-- JavaScript files -->
<!-- <script src="/static/js/getBackgroundURL.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/populateList.js"></script>
<script src="/static/js/modal.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="module" defer>

</script>

</body>

</html>