/*
CLASS NAME:

draggable - draggable elements
drop_bucket - 
*/


.draggable{
  cursor:move;
}

.draggable.dragging{
  opacity: 0.2;
  background-color: grey;
}

.dropbox{
  /*background-color: grey;*/
  min-height: 50px;
}

