
#kanban{
  display: flex;
  gap: 5px;
}

.container_header{
  /*background-color: grey;*/
  height:70px;
  text-align: center;
}

.task{
  padding: 1rem;
  border:1px outset grey;
  /*width: 100%;*/
  border-radius: 5px;
  text-align: left;
}


.todos button{
  height: 50%;
  width: 10%;
}


.todos{
  background-color: #FFC0CB;
}

.in_progs{
  background-color: #ADD8E6;
}

.dones{
  background-color: #CBC3E3;
}