@import 'kanban.css';
@import 'backlog.css';
@import 'modal.css';
@import 'dnd.css';

html{
  background-color: green;
  margin: 0;
  padding:0;
}

.container{
  border: 1px red solid;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.border{
  border: 1px black solid;
  border-radius: 10px;
}

li {
  padding: 1rem;
  border:1px solid black;
  border-radius: 5px;
}
