@import 'kanban.css';
@import 'backlog.css';
@import 'modal.css';
@import 'dnd.css';

*{
  padding:0;
  margin: 0;
}

html{
  background-color: blue;
  margin: 0;
  padding:0;
}

ul{
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none
}

h3{
  width: 100%;
}

.col-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.border{
  border: 1px black solid;
  border-radius: 10px;
}